<div class="card-wrapper card-space">
    <div class="card card-bg">
        <div class="card-body">
            <h5 class="card-title">
                Title
            </h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="read-more" href="#">
                <span class="text">Leggi di più</span>
                <svg class="icon">
                    <use xlink:href="$request.getContextPath()/bootstrap-italia/svg/sprite.svg#it-arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
