##
## Velocity template to read from local storage.
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## loadContext - context with details about the storage keys to load
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
#set ($title = $springMacroRequestContext.getMessage("idp.title", "Web Login Service"))
#set ($titleSuffix = $springMacroRequestContext.getMessage("idp.client-storage-read.suffix", "Loading Session Information"))
##
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- Page details -->
        <title>$title - $titleSuffix</title>
        <!-- CSS -->
        <link rel="stylesheet" href="$request.getContextPath()/bootstrap-italia/css/bootstrap-italia.min.css">
        <link rel="stylesheet" href="$request.getContextPath()/bootstrap-italia/css/custom.css">
        <!-- Extra CSS/Javascript -->
        <script>
        <!--
        #include( "client-storage/local-storage-read.js" )
        // -->
        </script>
    </head>

    <body>
        <!-- Bootstrap Italia header wrapper -->
        #parse("bi_header_wrapper.vm")

        <div class="main-body">
            <div class="container">
                <h2 class="mt-5 px-4 px-md-0">$title - $titleSuffix</h2>
                <div class="row">
                    <div class="pt-5 pb-2 py-md-5 px-4 px-md-0 bd-content">
                        <div class="content">
                            $springMacroRequestContext.getMessage("idp.client-storage-read.text",
                                                                  "Loading login session information
                                                                  from the browser...")
                        </div>
                        <noscript>
                            <div class="content">
                                $springMacroRequestContext.getMessage("idp.client-storage.no-js",
                                                                      "Since your browser does not support JavaScript,
                                                                      you must press the Continue button once to proceed.")
                            </div>
                        </noscript>
                        #parse( "client-storage/read.vm" )
                    </div>

                </div>
            </div>
        </div>
        <!-- Bootstrap Italia footer -->
        #parse("bi_footer.vm")

        <!-- Bootstrap Italia bottom scripts -->
        #parse("bi_bottom_scripts.vm")

 	</body>
</html>
