##
## Velocity Template for expiring password view
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
<!DOCTYPE html>
<html>
    <head>
        #parse("bi_head_css_js.vm")
        <!-- Page details -->
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        <!-- Extra CSS/Javascript -->
        <meta http-equiv="refresh" content="20;url=$flowExecutionUrl&_eventId_proceed=1">
    </head>

    <body>
        <!-- Bootstrap Italia header wrapper -->
        #parse("bi_header_wrapper.vm")

        <div class="main-body">
            <div class="container">
                <div class="my-5">
                    <p>
                        #springMessageText("idp.login.changePassword",
                                           "To create a new password now, go to")
                        <strong>
                            <a href="#" target="_blank">#</a>
                        </strong>.
                    </p>
                    <p>
                        #springMessageText("idp.login.proceedBegin",
                                           "Your login will proceed in
                                           20 seconds or you may click")
                        <strong>
                            <a href="$flowExecutionUrl&_eventId_proceed=1">
                                #springMessageText("idp.login.proceedHere", "here")
                            </a>
                        </strong>
                        #springMessageText("idp.login.proceedEnd", "to continue").
                    </p>
                </div>
            </div>
        </div>

         <!-- Bootstrap Italia footer -->
        #parse("bi_footer.vm")

        <!-- Bootstrap Italia bottom scripts -->
        #parse("bi_bottom_scripts.vm")
    </body>
</html>
